/*Event Calendar Start*/
.calendar-container {
  border: 1px solid #ddd;
  border-radius: 0;
  padding-bottom: 0;
}
.calendar-container .pretty-calendar-week {
  padding: 0;
}
.pretty-calendar-month .calendar-prev,
.pretty-calendar-month .calendar-next {
  top: 8px;
}
.calendar-daynames {
  height: 28px;
  padding-top: 31px;
  margin-bottom: 0;
  background: #fff;
}
.calendar-value {
  height: 32px;
  line-height: 32px;
}
.pretty-calendar-month .month-title {
  padding-top: 0;
}
.pretty-calendar-week {
  display: flex;
  height: 32px;
  border-bottom: 1px solid #ddd;
}
.calendar-container div:nth-last-child(2) {
  border-bottom: none;
}
.pretty-calendar-week > div,
.pretty-calendar-week > a {
  border-right: 1px solid #ddd;
}
.pretty-calendar-week > a .pretty-calendar-day {
  width: 100%;
}
.pretty-calendar-week > div.pretty-calendar-last {
  border-right: none;
}
.calendar-container .pretty-calendar-weekend,
.calendar-container .pretty-calendar-day,
.tooltip {
  flex-grow: 1;
  flex-basis: 0;
  height: 32px;
}
.pretty-calendar-week, .calendar-daynames {
  /*padding: 0;*/
}
.pretty-calendar-week .calendar-value {
  width: auto;
  height: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
}
.pretty-calendar-week .pretty-calendar-today .calendar-value {
  height: 26px;
  width: 26px;
  margin-top: 1px;
  line-height: 26px;
}
/*Event Calendar End*/

/*Views Start*/
.view-thematic-links .views-field-title a {
  margin-bottom: 4px;
  display: block;
}
.view-thematic-links .views-field-filepath {
  float: left;
  margin: 0 15px 10px 0;
}
.view-thematic-links .views-field-filepath a {
  display: block;
  position: relative;
}
.view-thematic-links .views-field-name,
.view-thematic-links .views-field-created,
.view-thematic-links .views-field-comment-count {
  display: inline-block;
}
.view-thematic-links .views-field-body {
  padding-top: 6px;
  display: inline;
}
.view-thematic-links .views-field-body .field-content {
  display: inline;
}
.view-thematic-links .views-field-body .field-content p {
  margin: 0;
  display: inline;
}
.view-thematic-links .views-field-view-node {
  display: inline;
  margin-left: 3px;
}
.view-thematic-links .views-field-name {
  margin-right: 3px;
}
.view-thematic-links .views-field-comment-count {
  margin: 0 3px;
  padding-left: 8px;
}
.view-thematic-links.view-display-id-page_4 h3 {
  margin: 0 0 10px;
}
.view-thematic-links.view-display-id-page_4 .views-date {
  display: inline-block;
}
.view-thematic-links.view-display-id-page_4 .views-title {
  display: inline-block;
}

.view-id-grid_on_front td {
  width: 33%;
}
.view-id-grid_on_front td img {
  max-width: 100%;
}
.view-thematic-links .views-row {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.view-thematic-links .views-row.views-row-last {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.teaserimage {
  border: 1px solid #CCCCCC;
  padding: 2px;
  height: auto;
  max-width: 97.4%;
}
/*Views End*/

/*Breadcrumbs Start*/
.breadcrumb {
  display: flex;
}
.breadcrumb .delimiter {
  position: relative;
  width: 7px;
  height: 15px;
  display: inline-block;
  margin: 0 3px 0 5px;
}
.breadcrumb .delimiter:after {
  content: '';
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #000000;
  line-height: 0;
  _border-color: #ffffff #ffffff #ffffff #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
/*Breadcrumbs End*/

/*Calendar View Start*/
.view-display-id-page_4 h3 {
  text-align: center;
}
/*Calendar View End*/

/*Grid on Front Page Start*/
.view-grid-on-front .view-content {
  display: flex;
}
.view-grid-on-front .views-row {
  width: 33%;
  margin: 10px 10px 10px 0;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(images/bgimg.jpg) no-repeat center center;
}
.view-grid-on-front .views-row-last {
  margin-right: 0;
}
.view-grid-on-front .views-row img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  display: block;
  position: relative;
}
.view-grid-on-front .views-row:hover img {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.view-grid-on-front .views-row:hover .views-field-nothing {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.view-grid-on-front .views-row:hover h2,
.view-grid-on-front .views-row:hover p,
.view-grid-on-front .views-row:hover a {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.view-grid-on-front .views-field-nothing {
  background-color: rgba(255, 231, 179, 0.3);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view-grid-on-front .views-field-nothing h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  color: #333;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  text-transform: uppercase;
}
.view-grid-on-front .views-field-nothing p {
  color: #333;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #333;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  padding: 10px 20px 20px;
  text-align: center;
}
.view-grid-on-front .views-field-nothing a {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}
/*Grid on front page End*/
