.page-node {
  h1.title {
    margin: 0 0 10px;
  }

  .node-place {
    .field-name-field-place-gallery { 
      .field-items {
        display: inline-block;

        .field-item {
          float: left;
          margin-right:8px;
          margin-top: 8px;

          &:nth-child(6n) {
            margin-right: 0;
          }
        }
      }
    }

    .comment-wrapper {
      clear: both;
    }
  }

  .field-name-body {
    .field-item {
      .colorbox {
        clear: both;
      }
    }
  }
}